
.inb .ivu-btn[data-v-0ec7b4ec],.ml10[data-v-0ec7b4ec] {
  margin-left: 10px;
}
.inb[data-v-0ec7b4ec]{
  display: inline-block;
}


.page-section[data-v-4537bb25] {
  margin-top: 16px;
  text-align: right;
}

